@import "@rootScss/config.scss";
@import "@rootScss/variables.scss";
@import "@rootScss/functions.scss";

///////////////////////////////////
// #region base
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	// font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	// font-stretch: semi-condensed;
	font-size: 16rem;
	background-color: color('white');
	color: color('black');
}

.main-wrapper
{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/**
 * TEMP
 */
.js-bg-btn-under
{
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: blue;
	width: 30rem;
	height: 30rem;
	z-index: 100000;
}

.js-bg-btn-above
{
	position: fixed;
	bottom: 0;
	right: 30rem;
	background-color: red;
	width: 30rem;
	height: 30rem;
	z-index: 100000;
}

.js-bg-under
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0.6;
	pointer-events: none;
}

.js-bg-above
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	opacity: 0.6;
	pointer-events: none;
	z-index: 100000;
}

::-webkit-scrollbar {
    display: none;
}

// end of temp
////////////////////////////////////////

// #endregion base
///////////////////////////////////

///////////////////////////////////
// #region Hamburger
.js-hamburger {
	width: 60px;
	height: 45px;
	position: absolute;
	z-index: 10002;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	top: 24rem;
	right: 6rem;
	display: none;

	@media (max-width: 575.98px) {
		display: block;
		top: 14rem;
		right: 12rem;
		transform: scale(0.6);
	}
}

.js-hamburger span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #ffffff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}

.js-hamburger span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.js-hamburger span:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.js-hamburger span:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.js-hamburger.active span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}

.js-hamburger.active span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.js-hamburger.active span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
}

.header.active {
	.js-hamburger {
		position: fixed;

		@media (max-width: 991.98px) {
			top: 82rem;
		}

		@media (max-width: 575.98px) {
			top: 74rem;
		}
	}
}

.js-hamburger.active
{
	span
	{
		background-color: color('black');
	}
}

// #endregion Hamburger
///////////////////////////////////

///////////////////////////////////
//#region scrollbar
/* For webkit browsers (like Safari) */
*::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* Make scrollbar invisible */
}

.os-scrollbar-vertical {
	width: 12rem;
	padding: 12rem 0;
	right: 6rem;

	@media(max-width: 575.98px) {
		width: 6rem;
	}

	.os-scrollbar-track {
		background-color: rgba(color('black'), 0.32);
		transition: background-color .2s linear, opacity 0.2s linear;

		&:hover {
			background-color: rgba(color('white'), 1);
		}
	}

	.os-scrollbar-handle {
		background-color: rgba(color('black'), 0.69);
		cursor: pointer;

		&:hover {
			background-color: rgba(color('black'), 0.8);
		}
	}
}
// #endregion scrollbar
///////////////////////////////////

@media(max-width: 991.98px) {
	br:not(.keep)
	{
		display: none;
	}
}

.text
{
	font-size: inc(18rem);
	line-height: 1.2;
}

* + .h1,
* + .h2,
* + .h3,
* + .h4
{
	margin-top: 28rem;

	@media(max-width: 575.98px) {
		margin-top: 16rem;
	}
}

.h1
{
	font-size: inc(50rem);
	line-height: 1.42;
	letter-spacing: 0.03em;
	font-weight: 300;

	@media(max-width: 575.98px) {
		font-size: inc(26rem);
	}
}

.h2
{
	font-size: inc(36rem);
	line-height: 1.42;
	font-weight: 500;

	@media(max-width: 575.98px) {
		font-size: inc(24rem);
	}
}

.h3
{
	font-size: inc(30rem);
	line-height: 1.42;
	font-weight: 500;
	letter-spacing: 0.03em;

	@media(max-width: 575.98px) {
		font-size: inc(22rem);
	}
}

.h4
{
	font-size: 20rem;
	line-height: 27rem;
	font-weight: 600;
}

.wyswig
{
	@extend .text;

	h1
	{
		@extend .h1;
	}

	h2
	{
		@extend .h2;
	}

	h3
	{
		@extend .h3;
	}

	h4
	{
		@extend .h4;
	}

	* + p
	{
		margin-top: 1em;
	}

	// Nesting fix
	.text
	{
		@extend .text;
	}

	.h1
	{
		@extend .h1;
	}

	.h2
	{
		@extend .h2;
	}

	.h3
	{
		@extend .h3;
	}

	.h4
	{
		@extend .h4;
	}
}

.csl
{
	position: relative;

	&__current
	{
		font-family: "Montserrat", Arial, Helvetica, sans-serif;
		font-size: inc(16rem);
		line-height: 1.19;
		font-weight: 500;
		color: rgba(color('black'), 0.3);
		padding: 11rem 40rem 11rem 24rem;
		border-radius: 10rem;
		box-shadow: 0rem 3rem 6rem rgba(#000000, 0.16);
		background-color: color('white');
		flex-grow: 1;
		position: relative;
		cursor: pointer;

		@media(max-width: 575.98px) {
			padding: 6rem 32rem 6rem 12rem;
		}

		&::after
		{
			content: '';
			display: block;
			width: 11.447rem;
			height: 6.785rem;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("../images/global/chevron_down.svg");
			transform-origin: 50% 25%;
			position: absolute;
			top: 50%;
			right: 20.6rem;
			transform: translateY(-50%);
			transition: transform .2s linear;

			@media(max-width: 575.98px) {
				right: 12rem;
			}
		}

		&.choosed
		{
			color: rgba(color("black"), 1);
		}
	}

	&__options {
		width: 100%;
		max-height: 400rem;
		margin: 11.2rem 0 0 0;
		padding: 11rem 24rem;
		position: absolute;
		overflow-y: auto;
		top: 100%;
		left: 0;
		right: 0rem;
		border-radius: 10rem;
		list-style: none;
		background-color: color('white');
		box-shadow: 0rem 3rem 6rem rgba(#000000, 0.16);
		z-index: 100;
		display: none;

		@media(max-width: 575.98px) {
			padding: 6rem 12rem;
		}

		button
		{
			font-weight: 700;
			width: 100%;
		}

		&.active, &.hover {
			display: block;
		}
	}

	&__option {
		margin: 0;
		padding: 4rem 10rem;

		label
		{
			display: flex;
			gap: 12rem;
		}

		input
		{
			opacity: 0;
			width: 0rem;
			height: 0rem;
			appearance: none;
			-webkit-appearance: none;
		}

		&:hover,
		&.selected
		{
			color: color("orange");
		}
	}
}

.js-csl-container.active
{
	.csl__current::after
	{
		transform: rotate(180deg) translateY(-50%);
	}
}

///////////////////////////////////////

// .tippy-box
// {
// 	position: relative;
// 	background-color: color('white');
// 	color: color('black');
// 	border-radius: 10rem;
// 	width: 560rem;
// 	max-width: none !important;
// 	box-shadow: 0rem 20rem 34rem rgba(color('black'), 0.16);
// 	padding: 36rem;
// 	z-index: 99999;

// 	@media (max-width: 991.98px) {
// 		width: 640rem;
// 		padding: 24rem;
// 	}

// 	@media (max-width: 575.98px) {
// 		width: 270rem;
// 		padding: 12rem;
// 	}
// }

// .tooltip
// {
// 	&__inner
// 	{
// 		position: relative;
// 		padding-right: 12rem;
// 		font-size: 12rem;
// 		line-height: 18rem;
// 		font-weight: 400;
		
// 		&.with-scrollbar
// 		{
// 			height: 266rem;

// 			@media (max-width: 575.98px) {
// 				height: 166rem;
// 			}
// 		}


// 		.os-scrollbar-vertical {
// 			width: 3rem;
// 			padding: 0 0;
// 			right: 0rem;
			
// 			@media(max-width: 991.98px) {
// 				right: 0rem;
// 			}

// 			@media(max-width: 575.98px) {
// 				width: 0rem;
// 			}

// 			.os-scrollbar-track {
// 				background-color: color('transparent');

// 				&::before
// 				{
// 					background-color: rgba(color('white'), 1);
// 					transition: background-color .2s linear, opacity 0.2s linear;
// 					transform: translateX(2rem);
// 				}

// 				&:hover {
// 					&::before
// 					{
// 						background-color: rgba(color('blue'), 0.7);
// 					}

// 					.os-scrollbar-handle
// 					{
// 						background-color: rgba(color('blue'), 1);
// 					}
// 				}
// 			}

// 			.os-scrollbar-handle {
// 				width: 3rem;
// 				background-color: rgba(color('blue'), 0.7);
// 				cursor: pointer;

// 				&:hover {
// 					background-color: rgba(color('blue'), 1);
// 				}
// 			}
// 		}
// 	}
// }

///////////////////////////////////////
.hideon
{
	&--desktop
	{
		@media (min-width: 992px)
		{
			display: none !important;
		}
	}

	&--tablet
	{
		@media (min-width: 576px) and (max-width: 991.98px)
		{
			display: none !important;
		}
	}

	&--mobile
	{
		@media (max-width: 991.98px)
		{
			display: none !important;
		}
	}

	&--phone
	{
		@media (max-width: 575.98px)
		{
			display: none !important;
		}
	}
}

body.fontsize--150
{
	
}

body.fontsize--200
{

}

body:not(.fontsize--100)
{
	.on-zoom-100
	{
		display: none !important;
	}
}

body:not(.fontsize--150)
{
	.on-zoom-150
	{
		display: none !important;
	}
}